<%inherit file="app_base.htm" />
<%! from catalog import models as cmod %>
<%! import json as json %>

<%block name="header_message"></%block>

<%block name="alert_block"></%block>

<%block name="left_column"> </%block>

<%block name="middle_column">

<script src="https://checkout.stripe.com/checkout.js"></script>

	<h3> Hi ${ user.first_name }, please enter your shipping information below </h3>

	${ form }

	<h3> Order Summary </h3>
	<h4> Subtotal: $${ subtotal } Tax: $${ tax } Shipping: $${ shipping } Total: $${ total } </h4>

</%block>

<%block name="right_column"> 

	<%
		uid = request.user.id
		last5 = cmod.ProductHistory.get_last_five(uid)
		if last5 is None:
			last5 = []
	%>  
	<h4> Recently Viewed Products </h4>
	% for l in last5:
		<div class="last5">
		<p> ${ l.name } </p> 
		<a href="/catalog/product_detail/${l.id}"><img src="${ json.decoder.JSONDecoder().decode(cmod.Product.objects.get(id=l.id).imgList)[0] }" class="img-thumbnail"></a>
		</div>
	% endfor
</%block>