<%inherit file="app_base.htm" />

<%block name="header_message"></%block>

<%block name="alert_block"></%block>

 <%block name="content_catalog">

 <div class="container">

	 <h1> Inventory </h1>
	  
	  	<table class="table table-striped"> 
	  		<tr>
		  		<th> Category </th>
		  		<th> Name </th>
		  		<th> Price </th>
		  		<th> Quantity </th>
		  		<th> Actions</th>
			</tr>
			
			% for p in products:
				<tr>
					<td> ${ p.category.name } </td>
					<td> ${ p.name } </td>
					<td> ${ p.price } </td>
					<td> ${ p.quantity if hasattr(p, 'quantity') else '-' } </td>
					<td> 
						<a href="/manager/product/${ p.id }/">Edit</a>
						|
						<a href="/manager/product.delete/${ p.id }/">Delete</a>
					</td>
				</tr>
			% endfor
		</table>

		<a href="/manager/create/">
			<button class="btn btn-success">Create Product</button>
		</a>

	</div>

</%block>	