<%inherit file="app_base.htm" />

<%block name="header_message"></%block>

<%block name="alert_block"></%block>

 <%block name="content_catalog">
  
  	<table> 
  		<tr>
	  		<th> Category </th>
	  		<th> Name </th>
	  		<th> Price </th>
	  		<th> Quantity </th>
		</tr>
		
		% for p in products:
			<tr>
				<td> ${ p.category.name } </td>
				<td> ${ p.name } </td>
				<td> ${ p.price } </td>
				<td> ${ p.quantity if hasattr(p. 'quantity') else '-' } </td>
				<td> 
					<a href="manager/product?pid=${ p.id }">Edit</a>
				</td>
			</tr>
		% endfor
	</table>

</%block>	