/* The whole homepage CSS*/

.content {
  margin-top: -30px;
}

/* Content 1 */

.head_info {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 1010px) {
  #col1 {
    border-right-style: solid;
    border-right-width: thin;
  }

  #col2 {
    border-right-style: solid;
    border-right-width: thin;
  }

  #col3 {
    border-right-style: solid;
    border-right-width: thin;
  }
}

@media (max-width: 1009px) {
  #col1 {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  #col2 {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  #col3 {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }
}

.col-md-3 {
  text-align: center;
}

.col-xs-12 {
  text-align: center;
}

.icon {
  font-size: 32px;
}

/* Sections Info */

img {
  border-radius: 3px;
}

.info_sections h2 {
  font-size: 2.8em;
  text-align: center;
}

.info_sections p {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.info_sections h4 {
  text-align: left;
  padding-left: 5%;
}

.info {
  padding: 25px 0 25px 0;
}

#buy {
  background-color: #413D3D;
}

#buy_info {
  padding-left: 5%;
  padding-right: 5%;
}

#rent {
}

#lessons {
  background-color: #413D3D;
}

#other {
}

/* CSS for the Head intro to the homepage with the image and title plus a call to action*/

header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}
header .name {
  display: block;
  font-family: 'Bree Serif', Georgia, Helvetica, serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8em;
}

header .intro-text {
  font-size: 1.55em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

#header-text {
  text-align: center;
}

.intro-homepage {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(/static/homepage/media/img/dude.jpg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}













