header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}
header .name {
  display: block;
  font-family: 'Bree Serif', Georgia, Helvetica, serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 6em;
}

header .intro-text {
  font-size: 1.55em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

#header-text {
  text-align: center;
}

.intro-homepage {
    display: table;
    width: 100%;
    padding: 225px 0;
    text-align: center;
    color: #fff;
    background: url(/static/homepage/media/img/violin.jpg) no-repeat bottom center scroll;
    height: 600px;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.landing_info {
  background-color: white;
}