<%inherit file="base.htm" />

<%block name="header_message"></%block>

<%block name="alert_block"></%block>

<%block name="content_catalog">
      <div id="content-catalog" class="container-fluid">
        <div id="left_column" class="col-md-2 col-xs-12"> <!-- Left Column -->
          
        </div>
        <div id="middle_content" class="col-md-8 col-xs-12"> <!-- Middle Section -->
          	<div class="jumbotron">
      				<h2> What we do </h2>
      				<p> We bring joy to people with music </p>
      			</div>
        </div>
        <div id="right_column" class="col-md-2 col-xs-12"> <!-- Right Column -->
          
        </div>
      </div>
    </%block>

