<%inherit file="base.htm" />

<%block name="header_message"></%block>

<%block name="alert_block"></%block>

<%block name="content_catalog">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">About</li>
</ol>
      <!-- Header stuff with the cool image -->
        <div  class="container">

            <div class="header">
              <img class="img-responsive" src="/static/homepage/media/img/music.jpg" alt="locations">
            </div>

            <hr/>

            <div class="row">
              <div class="col-md-7 col-xs-12">
                <h1> About Us </h1>

                <h3> Music is happiness </h3>
                <h4> All of us are searching for joy, let the music in. </h4>

                <hr/>

                <h3> Our Mission </h3>
                <h4> Let all types of people have access to learn and play an instrument of any type, anywhere. </h4>

                <hr/>

                <h3> Here are the things I changed on this page </h3>
                  <ul> 
                    <li> I added the alt text for all of my images embedded on my html pages </li>
                    <li> I edited my about page, added some content, and followed the F pattern to allow for easier reading </li>
                    <li> I edited the links on my homepage and footer to make them stand out a bit more. Earlier, they could hardly be seen </li>
                    <li> I tested all my text on my homepage against its background, they almost all failed. I changed them all to look a lot better and they are now way easier to read. </li>
                  </ul>
              </div>

              <div class="col-md-5 col-xs-12">
              <img class="img-responsive" src="/static/homepage/media/img/happy.jpg" alt="happy girl">
              </div>

            </div>
        </div>
    </%block>

