## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>
<%! from datetime import datetime %>


<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <%block name="title"><title>Family Music</title></%block>

    ## add any site-wide scripts or CSS here; for example, jquery:

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="${ STATIC_URL }homepage/media/jquery.datetimepicker.full.min.js"></script>

    <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="${ STATIC_URL }homepage/media/jquery.datetimepicker.min.css" />


    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }

  </head>
  <body>

  <%block name="header_message">
    <div id="header_message" class="alert alert-danger" role="alert">
      <p> We will be conducting maintenence on this site at 3 a.m. on Feb 2, 2017 </p>
    </div>
  </%block>

  <%block name="alert_block">
    <div id="alert_block" class="alert alert-block col-md-4 col-md-offset-8">
      <h4> Warning! </h4>
      <p> This is a dangerous site, watch out for weird things </p>
    </div>
  </%block>

      <header>
          <nav id="mainnav" class="navbar navbar-default">
          <%block name="site_navbar">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/homepage/index">
                  <img class="icon-bar" src="${ STATIC_URL }homepage/media/img/fomo.png">
                </a>
                <!-- <a class="navbar-brand" href="/homepage/index">FOMO</a> -->
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                  <li class="${ 'active' if request.dmp_router_page == 'index' else ''}">
                    <a href="/homepage/index">Home</a>
                  </li>

                  <li class="${ 'active' if request.dmp_router_page == 'catalog' else ''}">
                    <a href="#">Shop</a>
                  </li>

                  <li class="${ 'active' if request.dmp_router_page == 'about' else ''}">
                    <a href="/homepage/about">About</a>
                  </li>

                  <li class="${ 'active' if request.dmp_router_page == 'contact' else ''}">
                    <a href="/homepage/contact">Contact</a>
                  </li>

                  <li class="${ 'active' if request.dmp_router_page == 'sections' else ''}">
                    <a href="/homepage/sections">Sections</a>
                  </li>

                  <li class="${ 'active' if request.dmp_router_page == 'faqs' else ''}">
                    <a href="/homepage/faqs">FAQs</a>
                  </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                  
                  %if user.is_authenticated:
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${user.username}<span class="caret"></span></a> 
                      <ul class="dropdown-menu">
                        <li><a href="/account/account_info">My Account</a></li>
                        <li><a href="#">History</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logout">Log Out</a></li>
                      </ul>
                    </li>
                    %else:
                      <li class="${ 'active' if request.dmp_router_page == 'login' else ''}">
                        <a href="/account/login">Login/Register</a>
                      </li>
                    %endif
                </ul>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </%block>
          </nav>
      </header>

    <%block name="above_columns"></%block>

    <%block name="content_catalog">
      <div id="content-catalog" class="container-fluid">
        <div id="left_column" class="col-md-2 col-xs-12"> <!-- Left Column -->
          
        </div>
        <div id="middle_content" class="col-md-8 col-xs-12"> <!-- Middle Section -->
          
        </div>
        <div id="right_column" class="col-md-2 col-xs-12"> <!-- Right Column -->
          
        </div>
      </div>
    </%block>

    <%block name="content_homepage">
        <div id="content-homepage" class="container-fluid">

        </div>
    </%block>

    <%block name="above_footer"> <div class="container-fluid" id="above_footer"> </div> </%block>
    
    <%block name="hr"> <hr> </%block>

    <%block name="footer">
    <div class="clear"></div>
      <div id="footer" class="container">
        <div class="footer-brand">
          Family Oriented Music Organization - ${datetime.now()}
        </div>
        <div class="footer-links">
          <a href="/homepage/contact">Contact</a> 
          <span></span>
          <a href="/homepage/about">About Us</a> 
          <span></span>
          <a href="/homepage/terms">Terms and Conditions</a> 
          <span></span>
          <a href="/homepage/returns">Return Policies</a>
        </div>
        <div class="footer-copyright">
          <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Family Oriented Music Organization, Inc
        </div>
      </div>  
    </%block>

    ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }

    <!-- Bootstrap Core JavaScript -->
    <script src="${ STATIC_URL }homepage/media/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  </body>
</html>

    




