<%inherit file="base.htm" />

<%block name="header_message">
</%block>

<%block name="alert_block"></%block>

<%block name="content_catalog"></%block>

<%block name="content_homepage">
    <div class="content">
     <!-- Header stuff with the cool image -->
        <header class="intro-homepage">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div id="header-text" class="col-md-12 col-xs-12">
                            <h1 class="name">FOMO</h1>
                            <h4> Music is the Sound of our Emotions </h4>
                            <button class="btn btn-default">Browse our World Class Instruments</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

     <!-- Some info to draw them in -->

     <section class="head_info container">

        <div id="col1" class="col-md-3 col-xs-12">
            <div class="icon">
                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            </div>

            <h4> Purchase Instruments </h4>
        </div>
        <div id="col2" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
            </div>

            <h4> Rent Instruments </h4>
        </div>
        <div id="col3" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            </div>

            <h4> Professional Lessons </h4>
        </div>
        <div id="col4" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            </div>

            <h4> Accessories </h4>
        </div>

     </section>

     <!-- Send them somewhere -->

     <section class="info_sections">

         <section id="buy" class="info">
             <div class="container">

                <div class="row">

                    <div id="buy_info" class="col-md-7 col-xs-12"> 
                        <h2> World Class Instruments </h2>
                        <h4> We sell the best instruments on the planet! </h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>

                    <div class="col-md-5 col-xs-12"> 
                        <img class="img-responsive" src="/static/homepage/media/img/violin.jpg"> 
                    </div>

                </div>

            </div>

         </section>

         <!-- Send them somewhere -->

         <section id="rent" class="info">
             <div class="container">

                <div class="row">
                    <div class="col-md-5 col-xs-12"> 
                        <img class="img-responsive" src="/static/homepage/media/img/playingguitar.jpg"> 
                    </div>

                    <div class="col-md-7 col-xs-12"> 
                        <h2> Customer-first Rental Service </h2>
                        <h4> Get an instrument for less, just when you need it. </h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>

            </div>

         </section>

         <!-- Send them somewhere -->

         <section id="lessons" class="info">
             <div class="container">

                <div class="col-md-7 col-xs-12"> 
                    <h2> Music and Vocal Lessons </h2>
                    <h4> Beginner, Intermediate, Advanced, and even Expert. </h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>

                <div class="row">
                    <div class="col-md-5 col-xs-12"> 
                        <img class="img-responsive" src="/static/homepage/media/img/guitar.jpg"> 
                    </div>

                </div>

            </div>

         </section>

         <section id="other" class="info">
             <div class="container">

                <div class="row">
                    <div class="col-md-5 col-xs-12"> 
                        <img class="img-responsive" src="/static/homepage/media/img/sheet.jpg"> 
                    </div>

                    <div class="col-md-7 col-xs-12"> 
                        <h2> Music Accessories </h2>
                        <h4> Sheet Music, Records, Bows, we have it all! </h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    </div>
                </div>

            </div>

         </section>

     </section>

    </div>

</%block>