<%inherit file="base.htm" />

<%block name="header_message">
</%block>

<%block name="alert_block"></%block>

<%block name="content_catalog"></%block>

<%block name="content_homepage">
    <div class="content">
     <!-- Header stuff with the cool image -->
        <header class="intro-homepage">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div id="header-text" class="col-md-12 col-xs-12">
                            <h1 class="name">FOMO</h1>
                            <button class="btn btn-default">Spend Money</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

     <!-- Some info to draw them in -->

     <section class="head_info container">

        <div id="col1" class="col-md-3 col-xs-12">
            <div class="icon">
                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            </div>

            <h4> Purchase Instruments </h4>
        </div>
        <div id="col2" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
            </div>

            <h4> Rent Instruments </h4>
        </div>
        <div id="col3" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            </div>

            <h4> Professional Lessons </h4>
        </div>
        <div id="col4" class="col-md-3 col-xs-12">
        <div class="icon">
                <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            </div>

            <h4> Accessories </h4>
        </div>

     </section>

     <!-- Send them somewhere -->

     <section class="middle_info">
        We are FOMO
     </section>

     <!-- Sum info -->

     <section class="last_info">
        Woooooo 
     </section>

    </div>

</%block>