
.product-container {
	height: 280px;
	max-width: 100%;
	border-top-style: solid;
	border-bottom-style: solid;
}

.prod-img {
	width: 250px;
	height: 180px;
	object-fit: cover;
	object-position: 0% 0%;
}

.desc {
	padding-top: 75px;
}